<!DOCTYPE html>
<html>
<head>
  <title>StripeDemo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a id="logo" href="<%= root_url %>">Stripe Demo</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'New Charge', new_charge_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<br/><br/>
<%= render 'shared/flash_notice'  %>
<%= yield %>
</body>
</html>
